#page-teacher-list{
    width: 100vw;
    height: 100vh;
}


#search-teachers{
    margin-top: 3.2rem;
}

#search-teachers label{
    color: var(--color-text-in-primary);
}

#search-teachers button{
    background: var(--color-secundary);
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    text-decoration: none;
    width: 100%;
    margin-top: 2.4rem;
    transition: background 0.2s;
}

#search-teachers button:hover{
    background: var(--color-secundary-dark);
}

#search-teachers button img{
    width: 2.6rem;
}



#page-teacher-list main{
    margin: 3.2rem auto;
    width: 90%;
}

@media (min-width:700px){
    #page-teacher-list{
        max-width: 100%;
    }

    #search-teachers{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        position: absolute;
        column-gap: 16px;
        position: absolute;
        bottom: -28px;
    }

    #search-teachers button{
        margin-top: 3.2rem;
        height: 56px;
    }

    #search-teachers .input-block + .input-block,
    #search-teachers .select-block + .select-block{
        margin-top: 0
    }

    #page-teacher-list main{
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
}
